html, div, body
  padding: 0
  margin: 0
*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
body.bp
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
  background-color: black
  .template
    display: none

#content
  max-width: 100%
  max-height: 100%
  overflow: hidden
.service
  background-color: gray
  border-radius: 5px
  &.success
    background-color: green
    .indicator
      background-image: url(../images/success.png)
  &.failure
    background-color: red
    .indicator
      background-image: url(../images/failure.png)
  &.unknown
    background-color: #C1C1C1
    .indicator
      background-image: url(../images/unknown.png)
  &.waiting
    .indicator
      background-image: url(../images/waiting.png)
  &.pending
    background-color: gray
    .indicator
      background-image: url(../images/pending.png)
.title
  text-shadow: 0px 0px 1px #aaaaaa
  font-weight: bold
  font-size: 1.8em
  padding-top: 1em
  text-transform: uppercase
  text-align: center
  color: black
  opacity: 0.5
.indicator
  background: url(../images/waiting.png) no-repeat center center
  opacity: 0.8

// Positioning
$rows: 3
$columns: 4
.service
  width: (100% - $columns + 1) / $columns
  margin-right: 1%

  height: (100% - $rows - 1) / $rows
  margin-bottom: 1%

  float: left
  position: relative
  &:nth-child(#{$columns}n + 0)
    margin-right: 0
  &:nth-child(n + #{$columns * ($rows - 1) + 1})
    margin-bottom: 0

$indicator-size: 60px
.indicator
  width: $indicator-size
  height: $indicator-size
  margin: 0 auto
  position: absolute
  top: 45%
  left: 50%
  margin-left: - $indicator-size / 2
